header {
    background-image: linear-gradient(105.05deg, #111B24 13.5%, #0E2720 58.09%, #14222F 66.31%, #22303D 86.59%);
    background-size: fill;
}

.underline2 {
    border-top: 5px solid var(--secondary);
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 150px;
}

.top-games {
    background-image: url('../../assets/background/background-1.png');
    background-size: cover;
}

.how-to {
    background-image: url('../../assets/background/background-1.png');
    background-size: cover;
}

.header-img {
    scale: 1.01;
    animation: float 2s infinite alternate cubic-bezier(1, 1, 1, 1);
}

@keyframes float {
    100% {
        translate: 0 10px;
        scale: 1;
    }
}